activipy>=0.1
Babel>=2.6.0
Flask>=1.0.2
Flask-Cors>=3.0.6
Flask-IndieAuth>=0.0.3.2
Flask-PyMongo>=2.1.0
Flask-SSLify>=0.1.5
gunicorn>=19.9.0
httpsig>=1.2.0
itsdangerous>=0.24
Jinja2>=2.10
py>=1.5.4
pycrypto>=2.6.1
Pygments>=2.2.0
PyLD>=1.0.3
pymongo>=3.7.1
python-dotenv>=0.9.1
requests>=2.19.1
urllib3>=1.23
Werkzeug>=0.14.1
