{% extends 'basic.html' %}

{% block title %}home{% endblock title %}

{% block content %}
  {% for p in posts %}
    <div class="post">
      {{ p.object.content }}
      <br>
      
      {% if mongo.db.users.find_one({'acct': p.object.attributedTo }) %}
      	<img src="{{ mongo.db.users.find_one({'acct': p.object.attributedTo })['avatar']  }}" height="20px" />
      	<a href="{{ mongo.db.users.find_one({'acct': p.object.attributedTo})['url'] }}">
      		{{ mongo.db.users.find_one({'acct': p.attributedTo})['name'] }}
    		</a>

    	{% else %}
    		<img src="static/img/avatarNone.png" height="20px" />
    		[user deleted]
  		{% endif%}
  		<hr>
    </div>
  {% endfor %}
{% endblock content %}